[Desktop Entry]
Encoding=UTF-8
Name=Link to em-http-request.gemspec
Type=Link
URL=http://github.com/zhitomirskiyi/em-http-request/raw/master/em-http-request.gemspec
Icon=gnome-fs-bookmark
